// $dark-color:#19283f;
// $green-color:#33d1cc;
// $red-color : #ff3150;


$main-color:#659dbd;
$dark-blue:#123c69;
$white-color : white;
$red-color : #ac3b61;
$offwhite-color : #eee2dc;
$beige-color :#edc7b7;
$gray-color :#bab2b5;
$yellow-color : #ffc400;