@use "./SASS/variables/colors" as *;
@use "./SASS/mixins/mixins" as *;


/* start landing */

.landing{
  background-color: $main-color;
  min-height: calc(100vh - 241px);
  padding-bottom: 100px;
  padding-top: 100px;
  .land-pic{
    width:328px;
    position: absolute;
    z-index: 999;
    top: 0;
  }
  .content{
    padding-top: 92px;
    .quote::after{
      content:'';
      display:block;
      width:50%;
      height:100%;
      border-bottom:3px solid $dark-blue;
      margin-left:85px;
    }
  p{
    color: $dark-blue;
    font-weight: bold;
  }
  h1::after{
    content:'';
    display:block;
    width:50%;
    height:100%;
    border-bottom:3px solid $dark-blue;
    margin-left:85px;
    margin-top: 10px;
  }  
  }
}
.cat-cirlce{
  font-size: 353px;
  color: $red-color;
}

.cat-boc{
  position: relative;
}
/* end landing */